# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# local source video files that are too large for GitHub
public/video/ai-ky-theo-dsm-5-tr.mp4
public/video/ai-ky-theo-dsm-5-tr-web.mp4
