---
interface Props {
  series: { title?: string; description?: string };
}

const { series } = Astro.props;
---

<div>
  <h1>Series TOC</h1>
  <p>{series?.title}</p>
  <p>{series?.description}</p>
</div>

