---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import FacebookLogo from './Facebook.png';
---

<header>
	<nav>
		<h2>
			<a class="brand" href="/">
				<img src="/LOGO.svg" alt={SITE_TITLE} />
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.facebook.com/tintucthoisutonghop/" target="_blank" rel="noreferrer">
				<span class="sr-only">Theo dõi chúng tôi trên Facebook</span>
				<img src={FacebookLogo.src} alt="Facebook" />
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 0.5em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	.brand {
		display: inline-flex;
		align-items: center;
		padding: 0.375em 0.25em;
		border-bottom: 4px solid transparent;
	}
	.brand img {
		display: block;
		height: 48px;
		width: auto;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
		align-items: center;
	}
	.social-links a {
		padding: 0.375em 0.25em;
	}
	.social-links img {
		display: block;
		height: 42px;
		width: auto;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
